# Dépendances Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables d'environnement
.env

# Logs
logs/
*.log

# Fichiers temporaires
tmp/
temp/

# Fichiers uploadés
uploads/
public/uploads/

# Base de données locale
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

node_modules
package-lock.json