:root {
  /* ========== COLORS ========== */
  --color-primary: #3498db;
  --color-primary-dark: #7dcfff;
  --bg-color: #ffffff;
  --background-color: rgb(221, 232, 236);
  --text-color: #222222;
  --text-color-secondary: #f3f4f6;
  --text-header: #1e40af;
  --comment-bg: #dfe1e2;
  --color-error: #ef4444;
  --color-success: #0abf30;
  --border-color: #e2e8f0;
  --card-bg: #fff;
  --camera-bg: rgb(255, 255, 255, 0.4);
  --input-bg: #fff;
  --input-border: #d1d5db;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --saved-color: #48bb78;
  --deleted-color: #ef4444;
  --effect-bg: #ccc;

  /* ========== BORDER RADIUS ========== */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius: 12px;

  /* ========== TYPOGRAPHY ========== */
  --font-main: 'Inter', sans-serif;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 20px;

  /* ========== SPACING ========== */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* ========== GAP ==========*/
  --gap-sm: 10px;
  --gap-md: 16px;
  --gap-lg: 24px;

  /* ========== TRANSITIONS ========== */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.5s ease;
}

/* Global input styles */
input,
textarea,
select{
  background: var(--input-bg);
  border: 2px solid var(--input-border);
  border-radius: var(--radius-md);
  font-size: var(--font-md);
  transition: border-color var(--transition-normal);
}

/* Global popup and alert styles */
.user-profile-dropdown,
.alert-box,
.confirm-popup,
.auth-container,
.verification-container {
  background: var(--card-bg) !important;
  color: var(--text-color) !important;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dark {
  --bg-color: #23272f;
  --background-color: #23272f;
  --text-color: #f3f4f6;
  --text-color-secondary: #2d323c;
  --text-header: #e2e8f0;
  --color-primary: #3390c9;
  --color-primary-dark: #256fa1;
  --comment-bg: #4d525b;
  --color-error: #ff6b6b;
  --color-success: #48bb78;
  --border-color: #3b4252;
  --card-bg: #2d323c;
  --camera-bg: #2d323c;
  --input-bg: #23272f;
  --input-border: #3b4252;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.6);
  --saved-color: #2b8952;
  --deleted-color: #912020;
  --effect-bg: #2d323c;
}

.dark body {
  background: var(--bg-color) !important;
}

.dark .header-container {
  background-color: rgb(8, 17, 35, 0.2);
}