.header-container {
  display: flex;
  justify-content: center;
  padding: auto;
  align-items: center;
  background-color: rgb(221, 232, 236);
  padding: 10px 20px;
  border-radius: 0 0 50px 50px;

}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}

.comment-item {
  transition: all 0.2s ease-in-out;
}

.comment-item:hover {
  background-color: #f8fafc;
}


.btn-page {
  cursor: grab;
  padding: 8px 12px;
  margin: 0 5px;
  color: blue;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.btn_page:hover {
  background-color: #021b41;
  transition: background-color 0.2s ease;
}


@media (max-width: 600px) {
  .profile-stats {
    grid-template-columns: 1fr;
  }
}

.liked {
  animation: likeAnimation 0.3s ease-in-out;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }
}

url(main.css)